main {
  h1 {
    font-size: 2.5em;
  }

  ul {
    margin-bottom: 20px;
  }

  .legend {
    margin-left: 10px;
    div {
      display: inline-block;
      margin: 0 20px 20px;
      position: relative;

      &:before {
        display: block;
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: -30px;
      }
    }

    .legent-current:before {
      background: red;
    }

    .legent-primary:before {
      background: #0d5fa6;
    }

    .legent-secondary:before {
      background: #d39942;
    }

    .legent-nmns:before {
      background: #61584e;
    }
  }

  .timeline {
    @include clearfix;
    margin-bottom: 50px;
    background: $light-grey;
    position: relative;

    display: flex;
    flex: 1;

    video {
      // width: 30%;
      // float: left;
      flex: 0 0 320px;
    }

    .chart {
      flex: 1;
      // width: 65%;
      height: 180px;
      // float: right;
      // background: $grey;
    }

    .details {
      position: absolute;
      bottom: -25px;
      right: 0;
    }
  }

}
