extends ../layout

block sidebar
  - var activeTab = 'help'

block content
  h1 PrzeKorp
  h2 Internetowa przeglądarka zasobów korpusu PJM

  p
    | Autorzy:&nbsp;
    strong Piotr Mostoski
    | &nbsp;i&nbsp;
    strong Mariusz Ołownia

  p Warszawa, 2015
